
.conditional_rendering{
    /* padding: 20px 20px 30px 20px; */
}

.cr_header{
    color: #000;
    text-shadow: 0.5px 0.5px 0.5px #444;
    padding-top: 60px;
    padding-bottom: 120px;
    background: url('https://www.deon.pl/gfx/deon/pl/defaultaktualnosci/224/2922/1/d1289108860.jpg')center no-repeat;
    background-size: cover;
}

.cr_header h2{
    width: 100%;
    text-align: center;
}

.cr_header p{
    width: 60%;
    position: relative;
    left: 20%;
    font-size: 13px;
    line-height: 15px;
}

.cr_example1{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: calc(50% - 150px);
    background: url('https://www.bensound.com/bensound-img/november.jpg')left no-repeat;
    background-size: 220%;
}

.cr_example1 h2{
    width: 100%;
}

.cr_example1 button{
    margin-left: 18px;
}

.example_wrapper{
    width: 100%;
    height: 55px;
    position: relative;
}

.example_box{
    width: 80px;
    height: 40px;
    position: absolute;
    top: 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 4px black;
    z-index: 5;
}

.one{
    left: 10px;
    background: blue;
}

.two{
    left: 100px;
    background: red;
}

.three{
    left: 190px;
    background: green;
}

.cr_example2{
    padding: 60px 5px 80px 5px;
    background: url('https://images.unsplash.com/photo-1474575767135-14237cca19dc?dpr=1&auto=compress,format&fit=crop&w=1500&h=&q=80&cs=tinysrgb&crop=')center no-repeat;
    background-size: cover;
}

.cr_example2 h2{
    width: 100%;
    text-align: center;
}

.cr_example2 p{
    width: 80%;
    margin: 0 auto;
}

.cr_example2 button{
    position: relative;
    left: 45%;
    cursor: pointer;
}

.example_wrapper2{
    padding: 40px 0px 40px 0px;
}

.phone{
    width: 280px;
    height: 450px;
    position: relative;
    display: block;
    margin: 5px auto 20px auto;
    background: url('https://d14cqo034m5st1.cloudfront.net/img/slider/design-mockup.png')center no-repeat;
    background-size: 100%;
}

.phone_screen{
    width: 188px;
    height: 333px;
    position: absolute;
    left: 46px;
    top: 58px;
    overflow: hidden;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYp2hTjzLeseA0X0Mwjw5965MHj9vLvbYMgmeanreOaphWLv4iPg')center no-repeat;
    background-size: cover;
}

.cr_mobile_menu{
    width: 180px;
    height: 200px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background: #aaa;
    position: absolute;
    transition: all 0.5s;
}

.cr_mobile_menu li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.cr_mobile_menu li:hover{
    background: #ccc;
}

.mobilemenu3{
    top: 1px;
    left: 7px;
}

@media (min-width: 1220px){
    
    .cr_header{
        padding-top: 120px;
    }

    .cr_example1{
        background-size: cover;
    }

    .phone{
        display: inline-block;
        margin: 5px 10px;
    }

    .cr_example2{
        padding: 60px 100px 80px 100px;
    }

    .cr_example2 button{
        position: relative;
        left: 13%;
        top: -460px;
        cursor: pointer;
    }
}