
.nav_header{
    height: 60px;
    color: #eee;
}

.ham{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer;
    border: 2px solid #111;
    text-align: center;
    font-size: 36px;
    line-height: 25px;
    z-index: 160;
    color: #111;
    transition: top 0.6s, background 0.1s;
}

.ham:hover{
    border: 2px solid #29293B;
    background: #333;
    color: #979CA2;
}

.nav_list{
    width: 90%;
    height: 300px;
    position: fixed;
    right: 0px;
    top: 0px;
    background: #333;
    line-height: 20px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 10px 0px;
    flex-direction: column;
    align-items: center;
    z-index: 150;
    transition: all 0.5s;
}

.nav_list p{
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}

.nav_list p:hover{
    color: #59626B
}

.nav_list a{
    color: #eee;
    cursor: pointer;
}

.nav_list a:hover{
    border-bottom: 5px solid #8388FE;
    color: #8388FE;
}

@media (min-width: 550px){
    .nav_header{
        background: #333;
    }

    .ham{
        display: none;
    }

    .nav_list{
        width: 480px;
        height: 60px;
        position: absolute;
        line-height: 60px;
        padding: 0px 20px 0px 0px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        transition: all 0s;
    }

    .nav_list p{
        display: none;
    }
}


